.docs-selector {

    /*margin-top: 20px;*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 98vw;
    text-align: right;
}

#docs-dropdown {
    max-width: 300px;

}

.docs-selector-container {
    width: 100%;
    height: 100%;
}
#docs-iframe{
    width: 100%;
    height: 100%;
    border: none;
}