@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

nav {
    padding: 15px 0;
    background: #B3A36A;
    display: flex;
    height: 50px;
    align-items: center;
}

.nav-link {
    padding: 3px 15px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: transparent;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
}

#navbar a.active {
    background-color: #978750;
    font-weight: bold;
}

.nav-link:hover {
    color: white;
    background-color: #D1BF80;
}

.navbar-icon {
    height: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

.hytechName {
    margin-left: auto;
    margin-right: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 900;
}