.preview-container {
    width: 100%;
    height: auto;
    justify-content: center;
    background-color: lightgrey;
    flex: 1;
  }
  
.image-column {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100%; /* Ensures the column takes the full height */
    width: 100%; /* Ensures the column takes the full width */
}

.preview-image {
    display: flex;
    max-width: 70%; /* Ensures the image scales with the column width */
    max-height: 70%; /* Ensures the image does not exceed the column height */
    height: auto; /* Maintains aspect ratio */
    margin: 20px;
}
