.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    /*so table doesn't cover it - make sure it stays on top of other elements*/
    z-index: 1000;
}

.main-content {
    display: flex;
    flex: 1;
    height: 500px;
    padding-top: 50px;
    flex-direction: column;
}

.results-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-x: auto;

}

.footer {
    text-align: center;
    background: #9b8b5de5;
    color: white;
}

/* Made sure the height of search bar and data table matches up */
.table-search-wrapper {
    display: flex;
    align-items: flex-start;
    bottom: 0;    
    overflow: hidden;
}

.search-contain {
    max-height: calc(100vh - 300px);
    overflow-y: auto;
}



