.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.main-content {
    display: flex;
    flex: 1;
    overflow: hidden;
    height: 500px;
    padding-top: 50px;
    flex-direction: column;
}

.results-container {
    display: flex;
    flex: 1;
    overflow: hidden;
    flex-direction: row;
}

.table-contain-result {
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 10px;
  }

.footer {
    text-align: center;
    background: #9b8b5de5;
    color: white;
}
