.container {
  display: gird;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}
.chart {
  grid-column: 1;
  grid-row: 1;
}
.visuals {
  grid-column: 1;
  grid-row: 2;
}
.search {
  grid-column: 2;
  grid-row: 1/3;
}